extends template
block content
    div
        | Упс. Здається ви забули пароль
        br
        | щоб відновити його, читай книжки, розвивайся)
        div
            a(href=frontendUrl + `/password/reset/` + token) КНИЖКИ ТУТ