doctype html
html
    head
        style
            include global.css

    body
        div.header

            block content

        div.footer
            | З найкращими побажаннями
            br
            | Команда Смаколиків
            a(href=frontendUrl) Завітай